body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#home {
    flex-grow: 1;

    .hero-banner {
        background-image: src("../images/portail.jpg");
        background-size: cover;
        background-position: center;
    }

    p {
        text-align: justify;
    }

    img {
        width: 400px;
        border-radius: 5px;
    }
}