{% extends 'base.html.twig' %}

{% block title %}Nos gites{% endblock %}

{% block body %}
    <div id='gite'></div>
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('gite') }}
    {% endblock %}
{% endblock %}

